* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

header, main, footer {
    margin: 10px 0;
}

#loginWindow, #msgWindow {
    display: grid;
    place-items: center;
    margin-left: 10vw;
    width: 80vw;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
}

#testMode {
    margin: 10px 0;
    padding: 5px 0;
    color: red;
    background: yellow;
}

#usernameLengthMsg, #passwordLengthMsg, #msg {
    margin: 5px 0;
}